<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8" />
        <title>{% block title %}CCDI TV{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/themes.css') }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('js/modernizr-2.6.2.min.js') }}"></script>
    </head>
    <body>
        {% block body %}
            <div class="pt-triggers">
                <div id="next-button">next</div>
                <div id="prev-button">prev</div>
            </div>
            <div id="page-container">
            {% for page in pages %}
                <section class="container-fluid {{ page.theme }}" data-name="{{page.name}}" data-url="{{ page.url ~
                '?office=' ~ 1  }}">
                    {% render page.url ~ '?office=' ~ 1 %}
                </section>
            {% endfor %}
            </div>
            <footer id="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1 weather">
                            <span class="blue-icon glyphicon glyphicon-tint"></span> 27%

                            <span class="blue-icon glyphicon glyphicon-arrow-down"></span> 15ยบ

                            <span class="red-icon glyphicon glyphicon-arrow-up"></span> 20ยบ
                        </div>
                        <div class="col-md-5 timer">
                            <span class="glyphicon glyphicon-time"></span> 15:03
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
            <script src="{{ asset('bower_components/angular/angular.js') }}"></script>
            <script src="{{ asset('bower_components/angular-route/angular-route.js') }}"></script>
            <script src="{{ asset('bower_components/angular-animate/angular-animate.js') }}"></script>
            <script src="{{ asset('js/app.js') }}"></script>
            <script src="{{ asset('js/services.js') }}"></script>
            <script src="{{ asset('js/controllers.js') }}"></script>
            <script src="{{ asset('js/filters.js') }}"></script>
            <script src="{{ asset('js/directives.js') }}"></script>


            <script src="{{ asset('js/filters.js') }}"></script>
            <script src="{{ asset('js/directives.js') }}"></script>
            <script src="{{ asset('js/controllers.js') }}"></script>
            <script src="{{ asset('js/app.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
            
        {% endblock %}
    </body>
</html>
